services:
  cpp_builder:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    working_dir: /workspace/IntersectCalculation
    volumes:
      - ./IntersectCalculation:/workspace/IntersectCalculation
      - ./dags/bin:/workspace/dags/bin
    command: bash -c "mkdir -p /workspace/dags/bin && make clean && make"
    user: root
